.headerContainer{
  height: 80px;
  background-color: #002833;
  border: 1px solid black;
}
.searchBar{
  margin-right: 20px;
  height: 60%;
  border-radius: 5px;
}
.selectionContainer{
  height: 60%;
}
.dropdownSection{
  height: 60%;
  margin-right: 20px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  color:#002833;
}
