<div class="row headerContainer d-flex align-items-center justify-content-center">
  <div class="col-6 searchBar">
    <app-header-searchbar></app-header-searchbar>
  </div>
  <select class="form-control form-control-lg col-3 dropdownSection">
      <option>Domains</option>
  </select>
  <div class="col-2 selectionContainer">
      <app-header-select-buttons></app-header-select-buttons>
  </div>
</div>
