<div class=" row headerContainer d-flex align-items-center  footerContainer">
  <div class="row col-12 d-flex justify-content-center ">
    <app-footer-arrow-left [isSelected]="page!==1"></app-footer-arrow-left>
    <ng-container *ngIf="page%5===1">
        <app-footer-count [count]="page" [isSelected]="true"></app-footer-count>
        <app-footer-count [count]="page+1" [isSelected]="false"></app-footer-count>
        <app-footer-count [count]="page+2" [isSelected]="false"></app-footer-count>
        <app-footer-count [count]="page+3" [isSelected]="false"></app-footer-count>
        <app-footer-count [count]="page+4" [isSelected]="false"></app-footer-count>
    </ng-container>
    <ng-container *ngIf="page%5===2">
        <app-footer-count [count]="page-1" [isSelected]="false"></app-footer-count>
        <app-footer-count [count]="page" [isSelected]="true"></app-footer-count>
        <app-footer-count [count]="page+1" [isSelected]="false"></app-footer-count>
        <app-footer-count [count]="page+2" [isSelected]="false"></app-footer-count>
        <app-footer-count [count]="page+3" [isSelected]="false"></app-footer-count>
    </ng-container>
    <ng-container *ngIf="page%5===3">
        <app-footer-count [count]="page-2" [isSelected]="false"></app-footer-count>
        <app-footer-count [count]="page-1" [isSelected]="false"></app-footer-count>
        <app-footer-count [count]="page" [isSelected]="true"></app-footer-count>
        <app-footer-count [count]="page+1" [isSelected]="false"></app-footer-count>
        <app-footer-count [count]="page+2" [isSelected]="false"></app-footer-count>
    </ng-container>
    <ng-container *ngIf="page%5===4">
        <app-footer-count [count]="page-3" [isSelected]="false"></app-footer-count>
        <app-footer-count [count]="page-2" [isSelected]="false"></app-footer-count>
        <app-footer-count [count]="page-1" [isSelected]="false"></app-footer-count>
        <app-footer-count [count]="page" [isSelected]="true"></app-footer-count>
        <app-footer-count [count]="page+1" [isSelected]="false"></app-footer-count>
    </ng-container>
    <ng-container *ngIf="page%5===0">
        <app-footer-count [count]="page-4" [isSelected]="false"></app-footer-count>
        <app-footer-count [count]="page-3" [isSelected]="false"></app-footer-count>
        <app-footer-count [count]="page-2" [isSelected]="false"></app-footer-count>
        <app-footer-count [count]="page-1" [isSelected]="false"></app-footer-count>
        <app-footer-count [count]="page" [isSelected]="true"></app-footer-count>
    </ng-container>
    <!-- <app-footer-count  *ngFor="let item of Arr(totalPage).fill(1);let i=index;" [count]="i+1" [isSelected]="i+1===page"></app-footer-count> -->
    <app-footer-arrow-right  [isSelected]="page!==totalPage"></app-footer-arrow-right>
  </div>
</div>
