.listViewButton{
  height: 100%;
  background-color: #ffe5d1;
  color:#002833;
  font-size: 20px;
  font-weight: bold;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 24px;
  border-top-left-radius: 24px;
  border: none;
}
.buttonsContainers{
    height: 100%;
}
.cardViewButton{
  height: 100%;
  background-color: #ffe5d1;
  color: #002833;
  font-weight: bold;
  font-size: 20px;
  border: none;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 24px;
  border-top-right-radius: 24px;
}
.isSelected{
  background-color:#FF903C;
  color:white;
}
