  <div class="row buttonsContainers">
    <button type="button" class="btn btn-secondary col-6 listViewButton text-truncate" [ngClass]='{isSelected:isListView}' (click)="onChangeListView(true)">List view</button>
    <button type="button" class="btn btn-secondary col-6 cardViewButton text-truncate" [ngClass]='{isSelected:!isListView}' (click)="onChangeListView(false)">Card view</button>
  </div>
