.listNewsContainer{
  min-height: 720px;
  margin-left: 30px;

}
#itemsCount{
  color: #002833;
  margin-top: 28px;
  margin-bottom: 35px;
  font-weight: bold;
}
.cardviewContainer{
  margin-bottom:10px;
  margin-right:0px;
  overflow:hidden;
}
