<div class="listNewsContainer row">
  <div class="col-12">
      <h4 class="row" id="itemsCount">Articles {{remainingArticles}} to {{itemsCount}}</h4>
      <div *ngIf="listview" class="row">
        <div  class="col-12">
          <app-news-listview-item *ngFor="let newItem of articles" [article]="newItem"></app-news-listview-item>
        </div>
      </div>
      <div  *ngIf="!listview" class="row d-flex flex-wrap">
        <div *ngFor='let newItem of articles' class="col-sm-12 col-md-6 col-lg-4 cardviewContainer"  >
          <app-news-cardview-item  [article]="newItem"></app-news-cardview-item>

        </div>
      </div>
  </div>
</div>
