.newsContainer{
    margin-bottom:5px;
    height:128px;
}
#image{
  height:128px;
  border-radius:5px;
}
#newsTitle{
  color:#002833;
  font-weight:bold;
  margin-left:5px;
}
#dateTitle{
  color:grey;
  margin-left:5px;
}
.tagsContiner{
  margin-left:5px;
  margin-top:20px;
  margin-right:0px;
}
.tagElement{
  font-size:20px;
  background-color:#002833;
  margin-right:3px;
}
