<div class="row newsContainer">
  <img src={{article.previewImage}} class="col-2 px-0 img-fluid" id="image" onerror="this.onerror=null; this.src='https://user-images.githubusercontent.com/24848110/33519396-7e56363c-d79d-11e7-969b-09782f5ccbab.png'">
  <div class="col-10  d-flex flex-column " >
      <h5 id="newsTitle" class="text-truncate">{{article.name}}</h5>
      <h5 id="dateTitle"class="text-truncate">{{article.domain}} · {{article.releasedAt}}</h5>
      <div class="row flex-nowrap tagsContiner ">
        <ng-container *ngFor="let item of article.tags">
          <span  class="badge badge-primary tagElement" *ngIf="item.visible" >{{item.name}}</span>
        </ng-container>
      </div>
  </div>
</div>
