.searchInput{
  height: 100%;
}
.searchField{
  height: 100%;
  border-top-right-radius: 0px;
  border-bottom-right-radius:0px;
}
.searchbutton{
  background-color:#FF903C;
  border-color:#FF903C;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  font-size: 19px;
  color: white;
  font-weight: bold;
}
