<div class="row searchInput">
  <input type="text" class="form-control col-6 col-md-10 searchField " [(ngModel)]="searchText" placeholder="Search">
  <button type="button" class="btn btn-light col-6 col-md-2 searchbutton text-truncate" [disabled]="!searchText">SEARCH</button>
</div>
