.selected{
  font-size: 20px;
  font-weight: bold;
  border-radius: 0;
  color: white;
  background-color: #FF903C;
}
.nonSelected{
  font-size: 20px;
  font-weight: bold;
  border-radius: 0;
  background-color:#ffe5d1;
}
.arrowRight{
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
}
