<div>
<div class="cardviewContainer">
  <div class="row">
    <img class="col-12 img-fluid" id="image"  src="{{article.previewImage}}" onerror="this.onerror=null; this.src='https://user-images.githubusercontent.com/24848110/33519396-7e56363c-d79d-11e7-969b-09782f5ccbab.png'"  />
  </div>
  <h5 id="newsTitle">{{article.name}}</h5>
  <h6 class="greyText">{{article.domain}}</h6>
  <h6 class="greyText">{{article.releasedAt}}</h6>
</div>
</div>
