.cardviewContainer{
  height:304px;

  background-color:#F9F9F9;
  border-radius:5px;
  padding:10px;
}
#image{
  height:20vh;
  border-radius:20px;
}
#newsTitle{
  color:#002833;
  font-weight: bold;
}
.greyText{
  color: grey;
}
